html {
  padding:  30px 50px 75px 100px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 32px;
}

/* Delineate missile types in paragraphs */
.missiletype {
  border: 3px;
  border-style: solid;
  border-color: darkslategray;
  padding:  1em;
  font-size: 30px;
  font-weight: bolder;
  text-transform: full-width;
}

.data {
  color: hotpink;
}
/*highlight commentary points for bottom line "so what"*/

.commentary {
  border-color: darkslategray;
  background-color: lightgoldenrodyellow;
  border: 3px;
  border-style: solid;
  border-color: darkorchid;
  padding: 1em;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
  color: white;
}